In [21]:
import pandas as pd
import numpy as np
import jsonlines
%matplotlib inline
pd.options.display.float_format = '{:,.2f}'.format

# Download the file from https://data.sinarproject.org/dataset/works-department-awarded-tenders
FILE = 'jkr-keputusan_tender.jsonl'
dataObj = []
with jsonlines.open(FILE) as data_file:
    print(data_file)
    for obj in data_file:
        dataObj.append(obj)

<jsonlines.Reader at 0x7f8ecea48208 wrapping 'jkr-keputusan_tender.jsonl'>

In [2]:
df = pd.DataFrame.from_dict(dataObj)
df.head()

,advertise_date,construction_end,construction_start,contractor,cost,id,notes,offering_office,source_agency,source_url,title
0,06/04/2017,15/01/2019,18/07/2017,SAFARIS MAJU SDN. BHD.,"RM 2,892,408.00",24469,,JKR Perak Darul Ridzuan,jkr,https://www.jkr.gov.my/ckub/b_admin/t_resultdt...,Pembinaan Bangunan Dua Tingkat Sekolah Menenga...
1,09/03/2017,28/11/2017,13/06/2017,NNC Link Enterprise,"RM 633,900.00",24415,,JKR Perak Darul Ridzuan,jkr,https://www.jkr.gov.my/ckub/b_admin/t_resultdt...,Naik Taraf Dan Pembaikan Bangunan Dan Infrastr...
2,27/02/2017,20/12/2017,05/07/2017,Azatech Bina Enterprise,"RM 613,460.00",24389,,JKR Perak Darul Ridzuan,jkr,https://www.jkr.gov.my/ckub/b_admin/t_resultdt...,Kerja-Kerja Naiktaraf Bangunan Sekolah Menenga...
3,20/02/2017,14/06/2019,14/06/2017,Kota Lenggong Enterprise,"RM 3,500,025.00",24372,,JKR Perak Darul Ridzuan,jkr,https://www.jkr.gov.my/ckub/b_admin/t_resultdt...,Kerja-kerja Membaik Pulih Jambatan Dan Longkan...
4,06/02/2017,29/07/2019,25/07/2017,Forum Berkat Sdn Bhd,"RM 3,888,888.00",24348,,Pejabat Pengarah Kerja Raya Pahang,jkr,https://www.jkr.gov.my/ckub/b_admin/t_resultdt...,"Kuarters Klinik Kesihatan Kampung Bantal, Jera..."

In [3]:
# Check out the various data types 
def checkDataTypes (dataframe):
    result = []
    for columnName in df.columns:
        result.append((columnName, type(df[columnName][0])))
    return dict(result)

checkDataTypes(df)

{'advertise_date': str,
 'construction_end': str,
 'construction_start': str,
 'contractor': str,
 'cost': str,
 'id': str,
 'notes': str,
 'offering_office': str,
 'source_agency': str,
 'source_url': str,
 'title': str}

In [4]:
# Describe the data to get more info on the dataset
df.describe()

,advertise_date,construction_end,construction_start,contractor,cost,id,notes,offering_office,source_agency,source_url,title
count,3755,3755,3755,3755,3755,3755,3755,3755,3755,3755,3755
unique,784,1438,1204,2206,3215,3755,119,859,1,3755,3739
top,19/04/2007,,,,,17595,,"Cawangan Kerja Pendidikan,Ibu Pejabat JKR,Kual...",jkr,https://www.jkr.gov.my/ckub/b_admin/t_resultdt...,"Pemasangan Elektrik Untuk Balai Polis Bukir, J..."
freq,159,920,900,317,378,1,3588,307,3755,1,3

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3755 entries, 0 to 3754
Data columns (total 11 columns):
advertise_date        3755 non-null object
construction_end      3755 non-null object
construction_start    3755 non-null object
contractor            3755 non-null object
cost                  3755 non-null object
id                    3755 non-null object
notes                 3755 non-null object
offering_office       3755 non-null object
source_agency         3755 non-null object
source_url            3755 non-null object
title                 3755 non-null object
dtypes: object(11)
memory usage: 322.8+ KB

In [6]:
df.shape

(3755, 11)

In [7]:
df2 = df.copy()

## Clean the values and process to the right formats

In [9]:
import re
pattern = re.compile(r'\d+')
results = []

for x in df['cost']:
    results.append(
        pd.to_numeric(
            "".join(re.findall(pattern, x)[:-1])
        )
    )
newCost = pd.Series(results)
df2.cost = newCost
df2.id = df.id.astype(float)

df2.dtypes

advertise_date         object
construction_end       object
construction_start     object
contractor             object
cost                  float64
id                    float64
notes                  object
offering_office        object
source_agency          object
source_url             object
title                  object
dtype: object

In [11]:
dates = ['advertise_date', 'construction_end', 'construction_start']
for column in dates:
    df2[column] = pd.to_datetime(df2[column])

df2.head()

,advertise_date,construction_end,construction_start,contractor,cost,id,notes,offering_office,source_agency,source_url,title
0,2017-06-04,2019-01-15,2017-07-18,SAFARIS MAJU SDN. BHD.,"2,892,408.00","24,469.00",,JKR Perak Darul Ridzuan,jkr,https://www.jkr.gov.my/ckub/b_admin/t_resultdt...,Pembinaan Bangunan Dua Tingkat Sekolah Menenga...
1,2017-09-03,2017-11-28,2017-06-13,NNC Link Enterprise,"633,900.00","24,415.00",,JKR Perak Darul Ridzuan,jkr,https://www.jkr.gov.my/ckub/b_admin/t_resultdt...,Naik Taraf Dan Pembaikan Bangunan Dan Infrastr...
2,2017-02-27,2017-12-20,2017-05-07,Azatech Bina Enterprise,"613,460.00","24,389.00",,JKR Perak Darul Ridzuan,jkr,https://www.jkr.gov.my/ckub/b_admin/t_resultdt...,Kerja-Kerja Naiktaraf Bangunan Sekolah Menenga...
3,2017-02-20,2019-06-14,2017-06-14,Kota Lenggong Enterprise,"3,500,025.00","24,372.00",,JKR Perak Darul Ridzuan,jkr,https://www.jkr.gov.my/ckub/b_admin/t_resultdt...,Kerja-kerja Membaik Pulih Jambatan Dan Longkan...
4,2017-06-02,2019-07-29,2017-07-25,Forum Berkat Sdn Bhd,"3,888,888.00","24,348.00",,Pejabat Pengarah Kerja Raya Pahang,jkr,https://www.jkr.gov.my/ckub/b_admin/t_resultdt...,"Kuarters Klinik Kesihatan Kampung Bantal, Jera..."

In [12]:
# Check the parsed data types again
df2.dtypes

advertise_date        datetime64[ns]
construction_end      datetime64[ns]
construction_start    datetime64[ns]
contractor                    object
cost                         float64
id                           float64
notes                         object
offering_office               object
source_agency                 object
source_url                    object
title                         object
dtype: object

## Analyze the values

In [14]:
# Show top 10 largest projects
df2.sort_values(by=['cost'], ascending=False).head(10)

,advertise_date,construction_end,construction_start,contractor,cost,id,notes,offering_office,source_agency,source_url,title
1611,2009-02-19,2012-05-28,2009-01-12,Ahmad Zaki Sdn Bhd,"309,374,000.00","20,002.00",,"Bahagian Kerja Bangunan Am, Cawangan Kontrak D...",jkr,https://www.jkr.gov.my/ckub/b_admin/t_resultdt...,"Cadangan Kompleks Kerja Raya 1, Jalan Sultan S..."
241,2014-03-17,2016-07-13,2014-07-17,CERGAS MURNI SDN BHD,"199,156,069.00","23,022.00",,"Bahagian Kontrak Dan Ukur Bahan, JKR Negeri Se...",jkr,https://www.jkr.gov.my/ckub/b_admin/t_resultdt...,"MEMBINA JAMBATAN KE-3, DAERAH KLANG, SELANGOR ..."
2643,2008-01-28,2012-05-16,2009-02-16,S.N Akmida Holdings Sdn. Bhd.,"158,500,000.00","18,174.00",,"Cawangan Kontrak Dan Ukur Bahan,(Bahagian Kerj...",jkr,https://www.jkr.gov.my/ckub/b_admin/t_resultdt...,"UITM Cawangan Selangor,Kampus Sungai Buloh - C..."
1431,2009-04-30,2011-04-01,2009-08-07,Sunissa Sdn Bhd,"157,338,838.00","20,276.00",,CAWANGAN KONTRAK & UKUR BAHAN (BAHGAIAN KERJA ...,jkr,https://www.jkr.gov.my/ckub/b_admin/t_resultdt...,Projek di bawah Pakej Rangsangan Ekonomi Kedua...
2642,2008-01-28,2011-08-21,2009-02-23,H & I Niaga Sdn. Bhd.,"131,833,134.00","18,161.00",,Cawangan Kontrak Dan Ukur Bahan (Bahagian Kerj...,jkr,https://www.jkr.gov.my/ckub/b_admin/t_resultdt...,"UiTM Cawangan Selangor,Kampus Sungai Buloh -Ca..."
3575,2007-02-26,2010-03-02,2008-04-08,Al-Hamra Construction Sdn.Bhd.,"123,835,685.00","16,259.00",,"Cawangan Jalan,Ibu Pejabat JKR Malaysia,Jalan ...",jkr,https://www.jkr.gov.my/ckub/b_admin/t_resultdt...,Projek Jalanraya Simpang Pulai-Lojing-Gua-Musa...
647,2011-10-10,2014-11-03,2012-03-14,Bina Mekar Sdn Bhd,"119,308,368.00","21,863.00",,"Cawangan Jalan Ibu Pejabat JKR, Malaysia, Kual...",jkr,https://www.jkr.gov.my/ckub/b_admin/t_resultdt...,Naiktaraf Jalan Muar - Tangkak - Segamat Johor...
57,2016-01-28,2019-06-05,2016-01-08,Perbudi Sdn Bhd,"107,260,232.00","23,898.00",,"Bahagian Kontrak & Ukur Bahan, JKR Negeri Sela...",jkr,https://www.jkr.gov.my/ckub/b_admin/t_resultdt...,Pra-Kelayakan Untuk Menaiktaraf Laluan B49 Per...
814,2010-09-27,2013-11-08,2011-10-10,Aim Concept Sdn Bhd,"98,888,888.00","21,405.00",,"Cawangan Kontrak Dan Ukur Bahan, (Bahagian Ker...",jkr,https://www.jkr.gov.my/ckub/b_admin/t_resultdt...,Pra Kelayakan Bagi\r\nPoliteknik Balik Pulau (...
2974,2007-08-30,2010-04-13,2008-07-14,Farima Sdn Bhd,"95,997,865.00","17,514.00",,"Cawangan Kontrak & Ukur Bahan,Ibu Pejabat Mala...",jkr,https://www.jkr.gov.my/ckub/b_admin/t_resultdt...,Cadangan Pembangunan Kampus 2 INSPEN Daerah Se...

In [18]:
# Show top 10 highest earning contractors

df2['cost'].value_counts()

0.00             28
900,000.00        4
91,664,920.00     4
6,300,000.00      4
2,450,000.00      3
451,500.00        3
965,280.00        3
6,000,000.00      3
1,200,000.00      3
1,321,662.00      3
6,200,000.00      3
12,137,667.00     2
1,292,500.00      2
3,100,000.00      2
10,368,655.00     2
4,646,000.00      2
44,243,606.00     2
588,889.00        2
3,200,000.00      2
1,540,000.00      2
10,958,479.00     2
2,500,000.00      2
519,700.00        2
405,000.00        2
803,376.00        2
685,000.00        2
432,500.00        2
681,000.00        2
1,800,000.00      2
12,500,000.00     2
                 ..
1,092,110.00      1
2,216,983.00      1
6,754,080.00      1
1,600,000.00      1
3,199,995.00      1
6,597,000.00      1
1,198,810.00      1
1,075,816.00      1
441,000.00        1
5,090,140.00      1
988,520.00        1
1,387,210.00      1
1,649,350.00      1
6,662,934.00      1
3,921,283.00      1
1,157,823.00      1
2,250,069.00      1
988,500.00        1
2,064,201.00      1
3,432,416.00      1
775,500.00        1
1,339,000.00      1
498,340.00        1
2,708,760.00      1
1,125,000.00      1
4,499,948.00      1
4,499,935.00      1
2,151,655.00      1
2,479,330.00      1
684,024.00        1
Name: cost, Length: 3214, dtype: int64

## Pivot Tables

In [65]:
pivotCost = pd.pivot_table(df2, 
                           index=["contractor"], 
                           values=["cost"], 
                           aggfunc=[np.mean, np.sum, len], 
                           fill_value=0)
pivotCost.head(10)

                                           mean       sum  len
                                           cost      cost cost
contractor
                                   8,725,991.27  95985904  317
1. TENDER SEMULA                           0.00         0   13
2. TENDER DIBATALKAN                       0.00         0   24
3. TENDER DITANGGUHKAN                     0.00         0    8
3E Electrical Sdn Bhd                489,278.75   1957115    4
4. SATU PROJEK DUA TAJUK YANG SAMA         0.00         0   12
A & F ENTERPRISE                   3,572,247.00   3572247    1
A & S Cekap Bina Sdn Bhd           1,793,465.00   1793465    1
A-Z Idaman Sdn Bhd                 9,946,712.00   9946712    1
A-ZEE CONSTRUCTION SDN BHD         3,283,894.00   3283894    1

In [63]:
# Find out the top 10 largest earning contractors 

pivotCost.reindex(pivotCost['sum'].sort_values(by=['cost'], ascending=False).head(10).index)

                                         mean        sum  len
                                         cost       cost cost
contractor
Ahmad Zaki Sdn Bhd             309,374,000.00  309374000    1
Tsr Bina Sdn Bhd                91,664,920.00  274994760    3
CERGAS MURNI SDN BHD           117,117,103.00  234234206    2
S.N Akmida Holdings Sdn. Bhd.  109,580,152.50  219160305    2
Sunissa Sdn Bhd                157,338,838.00  157338838    1
Perbudi Sdn Bhd                 71,479,565.00  142959130    2
TSR Bina Sdn. Bhd.              68,329,857.00  136659714    2
H & I Niaga Sdn. Bhd.          131,833,134.00  131833134    1
Al-Hamra Construction Sdn.Bhd. 123,835,685.00  123835685    1
Bina Mekar Sdn Bhd             119,308,368.00  119308368    1

In [68]:
# Which department has been offering the most projects

In [ ]:
# Which department has been offering the highest value projects